
body {
  padding-left: 15em;
  padding-right: 15em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif, "Times New Roman", Times, serif;
  color: #f08080;
  background-color: #faebd7;
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: 90px;
  text-align: center;
  text-shadow: 5px 5px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: left;
}
p {
  text-align: justify;
}

 /* #css-zen-garden {
  background-color: #f2f2f2;
  background-image: url(https://lh4.googleusercontent.com/-P-uKwe2FDGU/VDnHT21jkoI/AAAAAAAALkI/i3gzlB0Z5Hg/s450/fondo1.png),
    url(https://lh6.googleusercontent.com/-7cX2R1ojPR8/VDnLWzxlAMI/AAAAAAAALkY/FYC-_SP-P-w/s450/fondo2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  width: 450px;
  height: 390px;
  position: relative;
  margin: 0 auto;
}  */
ul{ list-style-type: circle; text-align: justify}
li{text-decoration: underline} 